
services:
  concesionaria_de_automoviles:             
    build: concesionaria_de_automoviles     
    mem_limit: 512m
    ports:
      - "8080:8080"                  
    environment:
      SERVER_PORT:8080                  
      DB_URL: jdbc:postgresql://bd:5432/BD_Automovil          
      DB_USER_NAME:postgres                                         
      DB_PASSWORD:Colombia2021*                                   
      HIBERNATE_DIALECT:org.hibernate.dialect.PostgreSQLDialect    
    restart: always
    depends_on:
      bd:         
          condition: service_healthy
  bd:              
    image: postgres:17-alpine               
    ports:
      - "5432:5432"                          
    environment:
      POSTGRES_USER:postgres             
      POSTGRES_PASSWORD:Colombia2021*     
      POSTGRES_DB: BD_Automovil                  
    restart: always  
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]  
      timeout: 10s
      retries: 10